<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Albums</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('posts') }}">Posts</a>
        <a href="{{ url_for('comments') }}">Comments</a>
        <a href="{{ url_for('photos') }}">Photos</a>
    </nav>
    <div class="container">
        <table>
            <tr>
                <th>Title</th>
            </tr>
            {% for album in albums %}
                <tr>
                    <td>{{ album['title'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
